* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    color: #000000;
    box-sizing: border-box;
}

body {
    background: black url(imagens/fundo.jpg) no-repeat top center fixed;
    background-size: cover;
}

button {
    background-color: #ffffff;
    color: #0000ff;
    border: 2px solid #0000ff;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button i {
    color: #0000ff;
    font-weight: bold;
    pointer-events: none;
}

button:hover {
    background-color: #0000ff;
    color: #ffffff;
}

button:hover > i {
    color: #ffffff;
}

input, select {
    padding: 0.25rem 0.5rem;
}

.hide {
    display: none;
}

/* to do header */
.to-do-container {
    max-width: 450px;
    margin: 3rem auto 0;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 10px;
}

.to-do-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid lightgray;
}

/*to do form*/
#edit-form, #to-do-form {
    padding: 1rem;
    border-bottom: 1px solid lightgray;
}

#to-do-form p,
#edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 0.3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

/*to do tool bar*/

.tool-bar {
    padding: 1rem;
    border-bottom: 1px solid lightgray;
    display: flex;
}

.tool-bar h2 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.search {
    border-right: 1px solid lightgray;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.search form {
    display: flex;
}

.search input {
    width: 100%;
    margin-right: 0.3rem;
}

.filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.filter select {
    flex: 1;
}

/*to do list*/

.to-do {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid lightgray;
    transition: 0.4;
}

.to-do h3 {
    flex: 1;
    font-size: 0.9rem;
}

.to-do button {
    margin-left: 0.4rem;
}

.done {
    background-color: #0000ff;
}

.done h3 {
    color: #ffffff;
    text-decoration: line-through;
    font-style: italic;
}